<div {{ attributes.addClass(settings.extra_classes) }}>
  <div class="layout-region layout-region-left-outer">
    {{ content.left_outer }}
  </div>
  <div class="layout-region layout-region-left-inner-">
    {{ content.left_inner }}
  </div>
  <div class="layout-region layout-region-right-inner">
    {{ content.right_inner }}
  </div>
  <div class="layout-region layout-region-right-outer">
    {{ content.right_outer }}
  </div>
</div>
