<div {{ attributes.addClass(settings.extra_classes) }}>
  <div class="left-outer-region">
    {{ content.left_outer }}
  </div>
  <div class="left-inner-region">
    {{ content.left_inner }}
  </div>
  <div class="right-inner-region">
    {{ content.right_inner }}
  </div>
  <div class="right-outer-region">q
    {{ content.right_outer }}
  </div>
</div>
