{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{{ attach_library('origins_social_sharing/origins_social_sharing_css') }}
{{ attach_library('origins_social_sharing/origins_social_sharing_js') }}
<div class="social-sharing">
  <span class="social-sharing__label">{{ "Share this page"|t }}</span>
  <span class="social-sharing__buttons">
      <a class="facebook-share share-link no-ext-icon" target="_blank" href="{{ fb_link }}" rel="nofollow noopener">
        <span class="visually-hidden">Share on Facebook (external link opens in a new window / tab)</span>
        <span class="share-link__button">
          <svg role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path fill="#FFF" d="M17.78 27.5V17.008h3.522l.527-4.09h-4.05v-2.61c0-1.182.33-1.99 2.023-1.99h2.166V4.66c-.375-.05-1.66-.16-3.155-.16-3.123 0-5.26 1.905-5.26 5.405v3.016h-3.53v4.09h3.53V27.5h4.223z"></path>
          </svg>
        </span>
      </a>
      <a class="twitter-share share-link no-ext-icon" target="_blank" href="{{ tw_link }}" data-size="large">
        <span class="visually-hidden">Share on Twitter (external link opens in a new window / tab)</span>
        <span class="share-link__button">
          <svg role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path fill="#FFF" d="m18.15,14.57l7.82,-9.09l-1.85,0l-6.79,7.89l-5.42,-7.89l-6.25,0l8.2,11.93l-8.2,9.53l1.85,0l7.17,-8.33l5.73,8.33l6.25,0l-8.5,-12.37l0,0zm-2.54,2.95l-0.83,-1.19l-6.61,-9.45l2.85,0l5.33,7.63l0.83,1.19l6.93,9.92l-2.85,0l-5.66,-8.09l0,0z"></path>
          </svg>
        </span>
      </a>
      <a class="email-share share-link no-ext-icon" target="_blank" href="{{ mail_link }}" rel="nofollow noopener">
        <span class="visually-hidden">Share by email (external link opens in a new window / tab)</span>
        <span class="share-link__button">
          <svg role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path fill="#FFF" d="M26 21.25v-9s-9.1 6.35-9.984 6.68C15.144 18.616 6 12.25 6 12.25v9c0 1.25.266 1.5 1.5 1.5h17c1.266 0 1.5-.22 1.5-1.5zm-.015-10.765c0-.91-.265-1.235-1.485-1.235h-17c-1.255 0-1.5.39-1.5 1.3l.015.14s9.035 6.22 10 6.56c1.02-.395 9.985-6.7 9.985-6.7l-.015-.065z"></path>
          </svg>
        </span>
      </a>
  </span>
</div>
