{% set attributes = attributes.addClass('opsh-banner') %}
{% set attributes = attributes.setAttribute('id','opsh-banner')
                              .setAttribute('role', 'region')
                              .setAttribute('aria-roledescription', 'Important message from U K Government')
                              .setAttribute('aria-live', 'polite')
                              .setAttribute('aria-atomic', 'region') %}
<div{{ attributes }}>
  <a class="opsh-banner__content" href="{{ link_url }}">
    <h1 class="opsh-banner__title">
      {{ title }}
    </h1>
    <p class="opsh-banner__body">
      {{ body }}
    </p>
    <p>
      <span class="opsh-banner__faux-link" }}>
        {{ link_text }}
      </span>
    </p>
  </a>
</div>

